# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local downloads
Descargas_Anime/

# System files
.DS_Store
Thumbs.db

# Executables (Opcional: puedes quitarlo si quieres subir obscura.exe)
# obscura.exe 

# Temporary download files
*.part
*.ytdl
